/* Search Bar Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .search-bar {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */

/* Updated CSS for Search Bar */

.search-bar {
  margin: 50px 0;
  display: flex;
  justify-content: center; /* Center horizontally */
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input-container input {
  flex-grow: 1;
  width: 826px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  cursor: pointer;
  padding: 10px;
  color: #7d7676;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Product Card Styles */
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 25px;
}

.product-card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-details {
  margin-top: 10px;
}

.product-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
}

button {
  background-color: #001066;
  cursor: pointer;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
}

a {
  text-decoration: none;
}
